<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee     http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>personalisierungaufbau1.jsp</servlet-name>
        <jsp-file>/personalisierungaufbau1.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>personalisierungaufbau2.jsp</servlet-name>
        <jsp-file>/personalisierungaufbau2.jsp</jsp-file>
    </servlet>
        <servlet>
        <servlet-name>personalisierungaufbau3.jsp</servlet-name>
        <jsp-file>/personalisierungaufbau3.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>personalisierungaufbau1.jsp</servlet-name>
        <url-pattern>/personalisierungaufbau1.jsp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>personalisierungaufbau2.jsp</servlet-name>
        <url-pattern>/personalisierungaufbau2.jsp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>personalisierungaufbau3.jsp</servlet-name>
        <url-pattern>/personalisierungaufbau3.jsp</url-pattern>
    </servlet-mapping>
</web-app>
