<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" 
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
    http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>Konfiglesen</servlet-name>
        <jsp-file>/konfiglesen.jsp</jsp-file>
        <init-param>
            <param-name>Zusammenhang</param-name>
            <param-value>Übungsblatt zu JSP</param-value>
        </init-param>
    </servlet>
    
    <context-param>
        <param-name>Thema</param-name>
        <param-value>Serverseitige Webtechnologie</param-value>
    </context-param>
    
    <context-param>
        <param-name>tipStrDefault</param-name>
        <param-value>Web-Programmierung üben</param-value>
    </context-param>
    
    <servlet-mapping>
        <servlet-name>Konfiglesen</servlet-name>
        <url-pattern>/konfiglesen.jsp</url-pattern>
    </servlet-mapping>
</web-app>
